@font-face {
    font-family: "Kanit_black";
    src: url(../fonts/Kanit-Black.ttf);
} 
@font-face {
    font-family: "Kanit_italic";
    src: url(../fonts/Kanit-Italic.ttf);
}    
@font-face {
    font-family: "Kanit_regular";
    src: url(../fonts/Kanit-Regular);
}

li {
    border-right: 1px solid #FFFFFF;
  }
ul {
    position: sticky;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #E5383B;
    
  }
  
li {
    float: right;
  }
  
li a {
      font-family: "Kanit_black", sans-serif;
    display: block;
    color: #FFFFFF;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    
    border-radius: 1px solid #FFFFFF;
  }
  
  
  
.background {
    background-image: url(../images/nintendo_main.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
}
*{
    padding: 0;
    margin: 0;
}
.kar_text {
    background-color: #FFFFFF;
    text-align: center;
    font-family: "Kanit_regular", sans-serif;
    font-size: 20px;
    padding: 2rem;
    border-radius: 1rem;
    box-shadow: 10px 10px 5px rgba(11,9,10,0.5);
    border: 2px #0B090A solid;
    padding: 25px;
    margin: 40px;

}
.kar_text a{
  color: #0B090A;
}
