@font-face {
    font-family: "Kanit_black";
    src: url(../fonts/Kanit-Black.ttf);
} 
@font-face {
    font-family: "Kanit_italic";
    src: url(../fonts/Kanit-Italic.ttf);
}    
@font-face {
    font-family: "Kanit_regular";
    src: url(../fonts/Kanit-Regular);
}

li {
    border-right: 1px solid #bbb;
  }
ul {
    position: sticky;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: red;
    
  }
  
li {
    float: right;
  }
  
li a {
      font-family: "Kanit_black";
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    
    border-radius: 1px solid #bbb;
  }
  
  
  li a:hover {
    background-color: rgb(116, 2, 2);
  }
.background {
    background-image: url(../images/nintendo_main.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
}
*{
    padding: 0;
    margin: 0;
}
p {
    text-align: center;
    font-family: "Kanit_regular", sans-serif;
    font-size: 20px;
    padding: 100px;
}
